
<div class = "container" >
  <h1>
    {{title | uppercase }}
  </h1>

  <hr>

  <div class="row">
            
    <div class="col-sm-12">
        <div>
            <h2>Liste des contacts</h2>
            <button (click) = "onNewContact()" class="btn btn-default">Nouveau contact</button>    
        </div>

        <div *ngIf = "showForm">
            <hr>
            <form class="form-vertical" name = "newContactForm">
                <div class="row">
                  <div class="col-md-3">
                      <input type="text" class="form-control" name="firstname" placeholder="Entrer le prenom ..." [(ngModel)] = "contact.firstname">
                  </div>
                  <div class="col-md-3">
                      <input type="text" class="form-control" name="nom" placeholder="Entrer le nom ..." [(ngModel)] = "contact.lastname">
                  </div>
                  
                  <div class="col-md-3">
                      <input type="text" class="form-control" name="matricule" placeholder="Entrer le téléphone ..." [(ngModel)] = "contact.phone">
                  </div>
                  
                  <button (click) = "onAdd()" class="btn btn-primary">Ajouter</button>
                  <button (click) = "onCloseNewContact()" class="btn btn-danger">Fermer</button>
                  
                </div>
              </form>
        </div>

        <hr>

        <!--
        <input type="text" [(ngModel)] = "critarion" placeholder="Filter la liste ...">
        -->
        
        <form class="form-vertical" name = "filterContacts">
            <div class="row">
              <div class="col-md-6">
                  <input type="text" class="form-control" name="filter" placeholder="Filter contacts ..." [(ngModel)] = "critarion" >
              </div>
            </div>
        </form>
        
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Phone</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let contact of contacts | filter: critarion; let index=index; let odd=odd">
              
              <td><strong>{{index+1}}</strong></td>
  
              <td>{{contact.firstname}}</td>
              
              <td>{{contact.lastname | uppercase}}</td>
  
              <td>{{contact.phone}}</td>
  
              <td>
                <button (click) = "onDelete(contact)" class="btn btn-danger">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>